
@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee');

@import url('https://fonts.googleapis.com/css?family=Roboto');

html{
	
	font-family: 'Roboto', sans-serif;
}

p.title{
	font-family: 'Mukta Mahee', sans-serif;
	text-align:center;
}
h1.title{
	font-family: 'Mukta Mahee', sans-serif;
	text-align:center;
}

div.title{
	padding-left:60px;
	padding-top:70px;
	padding-bottom:10px;
	text-align:center;
}

  body {
	margin:0;
	background-color:#703C63;
  
  }



div.index_itemholder{
	padding-left:60px;
	
	
}


div.item{
	border-radius: 5px;
	border:solid;
	background-color:#B575A5;
	padding:20px;
	
	display:block;
	margin:10px 80px;
	height:100px;
	
}

.itemimg{
	 height:100%;
	 padding-right: 20px;
	 
 }
 
 


div.homeitem{
	border-radius: 5px;
	border:solid;
	background-color:#B575A5;
	padding:20px;
	display:inline-block;
	margin:10px;
	width:20%;
	height:60%;
	}

.price{
	font-size:20px;
	text-decoration: underline;
    text-decoration-color: white;
	
	
}

ul.topmenu {
    list-style-type: none;
    margin: 0px;
	padding-right:13px;
	padding-left:70px;
    overflow: hidden;
    background-color: #333;
	height:45px;
    width: 100%;
	align-self:center;
	position: fixed;
}


ul.sidemenu {
    list-style-type: none;
    margin: 0;
    padding-top:45px;
    width: 60px;
    padding-left:0px;
	height:100%;
	align-self:center;
	position: fixed;
	background-color: #333;
	text-decoration: none;
	text-align:center;
}

li.menuitem{
	

}






li {
   float: left;
}

li.topmenu {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.sidemenu {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
	padding-left:6px;
	padding-right:6px;
	display:inline-block;
}

li.name {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a{
	text-decoration: none;
	color:white;
}

li a:hover:not(.active) {
    background-color: #BCBCBC;
}

.active {
    background-color: #703C63;
}